In [ ]:
%sql
CREATE TABLE IF NOT EXISTS workspace.sourcing.Country (
id INT,
name STRING)