In [ ]:
%sql
CREATE TABLE IF NOT EXISTS workspace.sourcing.League (
id INT,
country_id INT,
name STRING)