In [ ]:
%sql
CREATE TABLE IF NOT EXISTS workspace.sourcing.Team (
id INT,
team_api_id INT,
team_fifa_api_id INT,
team_long_name STRING,
team_short_name STRING)